<?xml version="1.0"?>
<robot name="bucketbig">
    <link name="bucketbig">
        <visual>
            <geometry>
                <mesh filename="../mesh/factory_insertion/bucketbig.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/factory_insertion/bucketbig.obj"/>
            </geometry>
             <!-- sdf resolution="256"-->
        </collision>
    </link>
</robot>
